.user-hand,
.comp-hand{
  width: 250px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  height: 100vh;
  background-color: gainsboro;
  font-family: sans-serif;

}
.heading{
  font-size: 50px;
  padding-top: 90px;
}
.score{
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.choice{
  height: 25vh;
  display: flex;
  justify-content: center;
}
.comp-hand{
  transform: rotateY(180deg);

}
.choice-user,
.choice-comp{
  display: inline-block;
}
.button-div{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.button{
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  background-color: darkolivegreen;
  font-size: 20px;
  border-radius: 5px;
}
.result {
  padding: 50px;
}